# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Generated autoconf/automake files
/INSTALL
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/autoscan.log
/build-aux/compile
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/config.h*
/config.log
/config.status
/configure
/configure.scan
/ocp-*.tar.gz
.deps/
src/ocp
/stamp-h1

# Test logs
/test/*.log
/test/*.trs
